node_modules/.bin/static
node_modules/.bin/static.cmd
node_modules/colors/index.d.ts
node_modules/colors/LICENSE
node_modules/colors/package.json
node_modules/colors/README.md
node_modules/colors/safe.d.ts
node_modules/colors/safe.js
node_modules/colors/examples/normal-usage.js
node_modules/colors/examples/safe-string.js
node_modules/colors/lib/colors.js
node_modules/colors/lib/extendStringPrototype.js
node_modules/colors/lib/index.js
node_modules/colors/lib/styles.js
node_modules/colors/lib/custom/trap.js
node_modules/colors/lib/custom/zalgo.js
node_modules/colors/lib/maps/america.js
node_modules/colors/lib/maps/rainbow.js
node_modules/colors/lib/maps/random.js
node_modules/colors/lib/maps/zebra.js
node_modules/colors/lib/system/has-flag.js
node_modules/colors/lib/system/supports-colors.js
node_modules/colors/themes/generic-logging.js
node_modules/node-static/LICENSE
node_modules/node-static/package.json
node_modules/node-static/README.md
node_modules/node-static/benchmark/node-static-0.3.0.txt
node_modules/node-static/bin/cli.js
node_modules/node-static/examples/file-server.js
node_modules/node-static/lib/node-static.js
node_modules/node-static/lib/node-static/util.js
node_modules/node-static/node_modules/.bin/mime
node_modules/node-static/node_modules/.bin/mime.cmd
node_modules/node-static/node_modules/mime/.npmignore
node_modules/node-static/node_modules/mime/CHANGELOG.md
node_modules/node-static/node_modules/mime/cli.js
node_modules/node-static/node_modules/mime/LICENSE
node_modules/node-static/node_modules/mime/mime.js
node_modules/node-static/node_modules/mime/package.json
node_modules/node-static/node_modules/mime/README.md
node_modules/node-static/node_modules/mime/types.json
node_modules/node-static/node_modules/mime/src/build.js
node_modules/node-static/node_modules/mime/src/test.js
node_modules/node-static/test/fixtures/empty.css
node_modules/node-static/test/fixtures/hello.txt
node_modules/node-static/test/fixtures/index.html
node_modules/node-static/test/fixtures/there/index.html
node_modules/node-static/test/integration/node-static-test.js
node_modules/optimist/.travis.yml
node_modules/optimist/index.js
node_modules/optimist/LICENSE
node_modules/optimist/package.json
node_modules/optimist/readme.markdown
node_modules/optimist/example/bool.js
node_modules/optimist/example/boolean_double.js
node_modules/optimist/example/boolean_single.js
node_modules/optimist/example/default_hash.js
node_modules/optimist/example/default_singles.js
node_modules/optimist/example/divide.js
node_modules/optimist/example/line_count_options.js
node_modules/optimist/example/line_count_wrap.js
node_modules/optimist/example/line_count.js
node_modules/optimist/example/nonopt.js
node_modules/optimist/example/reflect.js
node_modules/optimist/example/short.js
node_modules/optimist/example/string.js
node_modules/optimist/example/usage-options.js
node_modules/optimist/example/xup.js
node_modules/optimist/node_modules/minimist/.travis.yml
node_modules/optimist/node_modules/minimist/index.js
node_modules/optimist/node_modules/minimist/LICENSE
node_modules/optimist/node_modules/minimist/package.json
node_modules/optimist/node_modules/minimist/readme.markdown
node_modules/optimist/node_modules/minimist/example/parse.js
node_modules/optimist/node_modules/minimist/test/bool.js
node_modules/optimist/node_modules/minimist/test/dash.js
node_modules/optimist/node_modules/minimist/test/default_bool.js
node_modules/optimist/node_modules/minimist/test/dotted.js
node_modules/optimist/node_modules/minimist/test/long.js
node_modules/optimist/node_modules/minimist/test/num.js
node_modules/optimist/node_modules/minimist/test/parse_modified.js
node_modules/optimist/node_modules/minimist/test/parse.js
node_modules/optimist/node_modules/minimist/test/short.js
node_modules/optimist/node_modules/minimist/test/whitespace.js
node_modules/optimist/test/_.js
node_modules/optimist/test/dash.js
node_modules/optimist/test/parse_modified.js
node_modules/optimist/test/parse.js
node_modules/optimist/test/short.js
node_modules/optimist/test/usage.js
node_modules/optimist/test/whitespace.js
node_modules/optimist/test/_/argv.js
node_modules/optimist/test/_/bin.js
node_modules/wordwrap/index.js
node_modules/wordwrap/LICENSE
node_modules/wordwrap/package.json
node_modules/wordwrap/README.markdown
node_modules/wordwrap/example/center.js
node_modules/wordwrap/example/meat.js
node_modules/wordwrap/test/break.js
node_modules/wordwrap/test/idleness.txt
node_modules/wordwrap/test/wrap.js
app.js
package.json
package-lock.json
